.contact {
    width: fit-content;
}

.contact th, .contact tr, .contact td {
    background: none;
    border: none;
    border-radius: unset;
    text-decoration: none;
    font: unset;
    color: unset;
}

.contact tr td:first-child {
    font-weight: bold;
}

.tabbar .button {
    background-color: rgb(253, 251, 243);
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 21px;
}

.tabbar .button:hover {
    background-color: rgb(198, 64, 156);
    color: white;
}

.tabbar .button.active {
    background-color: rgb(172, 49, 150);
}