.container {
	background-color: rgb(111, 183, 182);
	width: 50%;
	margin-top: 66px;
}

.button {
	background-color: rgba(0, 0, 0, 0);
	color: white;
	border-color: white;
}

.button:hover {
	background-color: white;
	color: rgb(111, 183, 182);
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}

img.avatar {
	width: 40%;
	border-radius: 50%;
}