<form class="container editor" (ngSubmit)="enter()" #loginForm="ngForm">
<div class="imgcontainer">
	<img src="../../assets/logos/Icon-turquiose-transparent.svg" alt="Logo" class="avatar">
</div>
<div class="row">
	<div class="col-25">
		<label for="email"><b>מייל</b></label>
	</div>
	<div class="col-75">
		<input type="text" [(ngModel)]="email" name="email" id="email" required>
	</div>
</div>
<div class="row">
	<div class="col-25">
		<label for="password"><b>סיסמא</b></label>
	</div>
	<div class="col-75">
		<input type="password" [(ngModel)]="password" name="password" id="password" required>
	</div>
</div>
<div class="row submit">
	<button class="button" type="submit" [disabled]="!loginForm.form.valid">כניסה</button>
	
</div>
</form>