<div class="container viewer">
	<h1>צוות</h1>
	
	<p *ngIf="hasUpdates()">
		<a class="button" (click)="update()"><i class="fa fa-refresh" aria-hidden="true"></i> לרענן</a>
	</p>

	<div class="toolbar">
		<button class="button" routerLink="/member-editor">הוסף חברת צוות</button>
	</div>
	
	<table>
	<tr>
	<th></th>
	<th (click)="sortMembersByLastName()">
			שם משפחה 
			<i *ngIf="staffSorting.current == 'lastName' && staffSorting.ascending" class="fa fa-caret-up" aria-hidden="true"></i>
			<i *ngIf="staffSorting.current == 'lastName' && !staffSorting.ascending" class="fa fa-caret-down" aria-hidden="true"></i>
		</th>
		<th (click)="sortMembersByFirstName()">
			שם פרטי 
			<i *ngIf="staffSorting.current == 'firstName' && staffSorting.ascending" class="fa fa-caret-up" aria-hidden="true"></i>
			<i *ngIf="staffSorting.current == 'firstName' && !staffSorting.ascending" class="fa fa-caret-down" aria-hidden="true"></i>
		</th>
		<th (click)="sortMembersByPhone()">
			טלפון 
			<i *ngIf="staffSorting.current == 'phone' && staffSorting.ascending" class="fa fa-caret-up" aria-hidden="true"></i>
			<i *ngIf="staffSorting.current == 'phone' && !staffSorting.ascending" class="fa fa-caret-down" aria-hidden="true"></i>
		</th>
		<th (click)="sortMembersByEmail()">
			אימייל 
			<i *ngIf="staffSorting.current == 'email' && staffSorting.ascending" class="fa fa-caret-up" aria-hidden="true"></i>
			<i *ngIf="staffSorting.current == 'email' && !staffSorting.ascending" class="fa fa-caret-down" aria-hidden="true"></i>
		</th>
		<th (click)="sortMembersByBirthdate()">
			תאריך לידה 
			<i *ngIf="staffSorting.current == 'birthdate' && staffSorting.ascending" class="fa fa-caret-up" aria-hidden="true"></i>
			<i *ngIf="staffSorting.current == 'birthdate' && !staffSorting.ascending" class="fa fa-caret-down" aria-hidden="true"></i>
		</th>
	</tr>
	<tr *ngFor="let m of members">
		<td><i routerLink="/member/{{m.id}}" class="fa fa-eye" aria-hidden="true"></i></td>
		<td>{{ m.lastName }}</td>
		<td>{{ m.firstName }}</td>
		<td>{{ m.phone }}</td>
		<td>{{ m.email }}</td>
		<td>{{ m.birthdate }}</td>
	</tr>
	</table>
</div>