<div class="navbar container" *ngIf="user">
  <a class="logo"><img src="../../assets/logos/Logo-white-transparent.svg" /></a>
  <a class="navbtn" routerLink="">דף הבית</a>
  <a class="navbtn" routerLink="donors">תורמים</a>
  <a class="navbtn" routerLink= "staff">צוות</a>
  <a class="navbtn" routerLink="education">חינוך</a>
  <a class="navbtn">אירועים</a>

  <div class="dropdown navbtn">
    <a class="dropbtn"><img src="{{ user.avatar }}" />
      {{ user.name ? user.name : (user.email ? user.email.split("@")[0] : "" ) }} 
      <i class="fa fa-caret-down"></i>
    </a>
    <div class="dropdown-content">
      <a class="navbtn" routerLink="profile" >פרופיל</a> 
      <a class="navbtn" (click)="logout()">התנתק</a> 
    </div>
  </div>
</div>