.container {
	margin-top: 66px;
	background-color: rgb(172, 49, 150);
}

.sitenav {
	display: block;
}

img.site-logo {
	display: inline-block;
	vertical-align: middle;
	max-width: 157px;
	padding: 0 32px;
}

.sitenav button {
	display: inline-block;
	background-color: transparent;
	border: none;
	border-bottom: 6px solid rgb(253, 251, 243, 0);
	color: white;
	padding: 15px 32px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	font-size: 21px;
	transition: border 0.5s;
}

.sitenav button:hover {
	border-bottom-color: rgb(253, 251, 243, 1);
}
