<div class="container viewer">
    
    <h1>משימות</h1>

    <div class="toolbar" >
        <button class="button" routerLink="/task">הוסף משימה</button>
    </div>
    <table>
        <tr>
            <th>תאור</th>
            <th>תאריך</th>
            <th>לביצע עד</th>
            <th>מחק</th>
        </tr>
       
        <tr *ngFor="let task of taskData; let i=index" routerLink="/task-detail/{{task.id}}">
            <td>{{task.description}}</td>
            <td>{{task.date| date:'short'}}</td>
            <td>{{task.expireDate| date:'short'}}</td>
            <td class="remove-task" (click)="removeTask(task)"><i class="fa fa-trash" aria-hidden="true"></i></td>
        </tr>
        
    </table>
</div>