

.overdue td {
    background-color: rgba(218, 90, 90, 0.288);
    border-radius: unset;
 
}
.completed td {
    background-color: rgba(0, 128, 0, 0.055);
    border-radius: unset;
 
}
.handle td{
    background-color: rgba(212, 247, 12, 0.137);
    border-radius: unset;
}


h2{
    position: relative;
    float: left;
    right:-3.4%;
    font-size: 60%;
    color: green;
}

h3{
    position: relative;
    float: left;
    right: 8%;
    font-size: 60%;
    color: red;
}
h4{
    position: relative;
    float: left;
    right: 15.7%;
    font-size: 60%;
    color: rgba(182, 214, 0, 0.623);
}


.pointer {cursor: pointer;}

