<div class="container viewer">
    
    <h1>משימות</h1>
  
   
    <h2>* משימות שבוצעו</h2>
    <br>
    <h3>* משימות שלא נעשו בזמן</h3>

    <div class="toolbar" >
        <button class="button" routerLink="/task">הוסף משימה</button>
      
    </div>
    <table >
        <tr>
            <th></th>
            <th></th>
            <th>תאור</th>
            <th>תאריך</th>
            <th>לביצע עד</th>
            <th>בטיפול על ידי</th>
            
        </tr>
    
            <tr *ngFor="let task of taskData"  class="{{ getClass(task) }}" >  
              <td class="remove-task" (click)="removeTask(task)"><i class="fa fa-trash" aria-hidden="true"></i></td>
              <td><i routerLink="/task-detail/{{task.id}}" class="fa fa-eye" aria-hidden="true"></i></td>                                       
              <td>{{task.description}}</td>
              <td>{{task.date| date:'short'}}</td>
              <td>{{task.expireDate| date:'short'}}</td>
              <td>{{task.doJob}}</td>   
            </tr>   
            
    </table>

    
</div>