table tr.highlight {
    background-color: #4CAF50 !important;
    color: #ffffff;
}

.overdue td {
    background-color: red;
    border-radius: unset;
}

.completed td {
    background-color: green;
    border-radius: unset;
}