
<div class="container viewer" *ngIf="lecture">
<table class="contact">
  <tr>
    <th>שם מוסד</th>
    <th>שנת לימוד</th>
    <th>שכבה</th>
    <th>תכנים</th>
    <th>תאריך הסדנה</th>
    <th>שם מרצה</th>
    <th>מחיר</th>
  </tr>
  <tr>
    <td>{{ lecture.institute}}</td>
    <td>{{ lecture.year }}</td>
		<td>{{ lecture.class }}</td> 
    <td>{{ lecture.content }}</td>
    <td>{{ lecture.date }}</td>
		<td>{{ lecture.lecturerName }}</td>
    <td>{{ lecture.price }}</td>
  </tr>
<br>
  <tr>
      <th>איש קשר 1</th>
      <th>מייל</th>
      <th>טלפון</th>
  </tr>
  <tr>
    <td>{{ lecture.contactName1 }}</td>
    <td>{{ lecture.email1 }}</td>
    <td>{{ lecture.phone1 }}</td>
  </tr>
  <br>
  <tr>
      <th>איש קשר 2</th>
      <th>מייל</th>
      <th>טלפון</th>
  </tr>
  <tr>
    <td>{{ lecture.contactName1 }}</td>
    <td>{{ lecture.email2 }}</td>
    <td>{{ lecture.phone2 }}</td>
  </tr>
</table>

 
<div class="toolbar">
	<button class="button" routerLink="/lecture-editor/{{ lecture.id }}">ערוך סדנה</button>
	<button class="button" routerLink="/listing-editor/{{lecture.id}}">הוסף רשומה</button>
</div>

<h2>רשומות</h2>

<table class="listings">
<tr>
	<th (click)="sortListings(compareDates)">תאריך</th>
  <th (click)="sortListings(compareSubjects)">נושא</th> 
  <th (click)="sortListings(compareStatuses)">סטטוס</th> 
	<th (click)="sortListings(compareLinks)">קישור</th> 
</tr>

<tr *ngFor="let listing of listingsArr">
	<td *ngIf="lecture.id == listing.lectureId">{{ listing.date }}</td>
  <td *ngIf="lecture.id == listing.lectureId">{{ listing.subject }}</td>
  <td *ngIf="lecture.id == listing.lectureId">{{ listing.status }}</td>
  <td *ngIf="lecture.id == listing.lectureId">{{ listing.link }}</td> 
</tr>

</table>
</div>
