<div *ngIf="donor">
<h1>הפרטים של {{donor.firstName + " " + donor.lastName}}</h1>

<div class="toolbar">
	<button class="button" routerLink="/donor-editor/{{ donor.id }}">ערוך תורם</button>
	<button class="button" routerLink="/donation/{{ donor.id }}">הוסף תרומה</button>
</div>

<table>
<tr>
	<th>שם פרטי</th>
	<th>שם משפחה</th> 
	<th>מספר טלפון</th>
	<th>גיל</th>
	<th>סך כל התרומות</th>
</tr>
<tr>
	<td>{{ donor.firstName }}</td>
	<td>{{ donor.lastName }}</td> 
	<td>{{ donor.telephone }}</td>
	<td>{{ donor.age }}</td>
	<td>₪{{ totalDonations() }}</td>
</tr>
</table>

<h2>תרומות</h2>

<table>
<tr>
	<th (click)="sortDonations(compareDates)">תאריך</th>
	<th (click)="sortDonations(compareAmounts)">סכום</th> 
</tr>
<tr *ngFor="let donation of donations">
	<td>{{ donation.date }}</td>
	<td>₪{{ donation.amount }}</td> 
</tr>
</table>

</div>
