<form class="container editor" (ngSubmit)="save()" #donationForm="ngForm">
	<h1 *ngIf="donation.id">עריכת תרומה</h1>
	<h1 *ngIf="!donation.id">הוספת תרומה</h1>
	
	<p *ngIf="hasUpdates()">
		<a class="button" (click)="update()"><i class="fa fa-refresh" aria-hidden="true"></i> לרענן</a>
	</p>

	<p *ngIf="donation.modifiedBy"><small>
			עודכן לאחרונה ע"י {{ donation.modifiedByUser.getFullestName() }}
	</small></p>

	<div class="row">
		<div class="col-25">
			<label for="date">תאריך</label>
		</div>
		<div class="col-75">
			<input type="date" [(ngModel)]="donation.date" name="date" id="date" required/>
		</div>
	</div>
	<div class="row">
		<div class="col-25">
			<label for="amount">סכום</label>
		</div>
		<div class="col-75">
			<input type="number" [(ngModel)]="donation.amount" name="amount" id="amount" required/>
		</div>
	</div>
	<div class="row submit">
		<button class="button" type="submit" [disabled]="!donationForm.form.valid">שמור</button>
		<div class="button" routerLink="/donor/{{donor.id}}">בטל</div>
		<div class="button" (click)="delete()" *ngIf="donation.id">מחק</div>
	</div>
</form>