/* You can add global styles to this file, and also import other style files */

* {
	box-sizing: border-box;
	font-family: Arial;
	font-size: 21px; 
}

body {
	direction: rtl;
	background: #FDFBF3 url('./assets/backgrounds/Bg__main.png') top center no-repeat
	/*
	background-color: rgb(253, 251, 243);
	*/
}	

.fa:hover {
	cursor: pointer;
	color: rgb(172, 49, 150);
}

.container {
	border-radius: 5px;
	padding: 20px;
	margin: auto;
	margin-bottom: 66px;
	display: block;
}

.container.editor {
	background-color: rgb(111, 183, 182);
	width: 50%;
}

.container.viewer {
	background-color: rgb(253, 251, 243);
	width: 100%;
}

/* Forms */

input {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	resize: vertical;

	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

input[type=checkbox] {
	width: auto;
}

.number {
    display: inline-block;
	direction: ltr;
}

input[type=password], input[type=date], input[type=number] {
	direction: ltr;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}

img.avatar {
	width: 50%;
	height: 50%;
	overflow: hidden;
	border-radius: 50%;
	text-align: center;
}

.row {
	display: block;
	width: 100%;
}
.col-25 {
	width: 25%;
	margin-top: 12px;

	display: inline-block;
	vertical-align: middle;
}

.col-75 {
	width: 75%;
	margin-top: 12px;
	
	display: inline-block;
	vertical-align: middle;
}

/* Clear floats after the columns */
.row:after, .row.submit:after {
	content: "";
	display: table;
	clear: both;
}

.row.submit {
	margin-top: 12px;
}

/* Buttons */

.toolbar {
	display: block;
	margin-bottom: 21px;
	margin-top: 21px;
}

.toolbar button.button {
	margin-left: 21px;
}

.row.submit .button {
	float: left;
	
	padding: 12px 20px;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	transition: all 1s;
	
	background-color: rgba(0, 0, 0, 0);
	color: white;
	border-color: white;
}

.row.submit .button:hover {
	background-color: white;
	color: rgb(111, 183, 182);
}

.button {
	margin-left: 21px;
	padding: 12px 20px;

	border: none;
	border-radius: 5px;

	font-size: 16px;
	font-weight: normal;
	
	background-color:rgb(172, 49, 150);
	color: white;
	
	cursor: pointer;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: rgb(198, 64, 156);
}

.button:first-child, .toolbar .button:last-child {
	margin-left: 0px;
}

/* Tables: */

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

th, td {
	text-align: right;
	padding: 12px;
}

th {
	background-color: rgb(172, 49, 150);
	color: white;
}

tr:nth-child(odd) td {
	background-color: rgb(243, 253, 246);
	
}

tr:nth-child(even) td {
	background-color: #f2f2f2;
}

th:first-child {
		border-radius: 0 5px 0 0;
}

th:last-child {
		border-radius: 5px 0 0 0;
}

th:only-child {
		border-radius: 5px 5px 0 0;
}

tr:last-child td:first-child {
	border-radius: 0 0 5px 0;
}

tr:last-child td:last-child {
	border-radius: 0 0 0 5px;
}
tr:last-child td:only-child {
	border-radius: 0 0 5px 5px;
}

/* Headings: */

h1 {
	font-size: 250%;
}

h2 {
	font-size: 200%;
}

h3 {
	font-size: 150%;
}

@media only screen and (max-width: 600px) {
	* {
		font-size: 100%; 
	}

	.container {
		margin-bottom: 33px;
		min-width: 100%;
		max-width: 100%;
		overflow-x: scroll;
		/* overflow-y: visible; */
	}

	.col-25 {
		float: none;
		width: 100%;
	}

	.col-75 {
		float: none;
		width: 100%;
	}

	.row.submit .button, .button {
		float: none;
		display: block;
		width: 100%;
		margin-top: 12px;
		text-align: center;
	}
}