<div class="row">
	<div class="col-25">
		<label for="date">תאריך</label>
	</div>
	<div class="col-75">
		<input id="date" type="date" [(ngModel)]="date"/>
	</div>
</div>
<div class="row">
	<div class="col-25">
		<label for="amount">סכום (בשקלים)</label>
	</div>
	<div class="col-75">
		<input type="number" id="amount" [(ngModel)]="amount"/>
	</div>
</div>
<div class="row submit">
	<button class="button" (click)="save()">שמור</button>
	<button class="button" (click)="this.location.back()">בטל</button>
</div>
