.container {
	background-color: rgb(111, 183, 182);
	width: 50%;
}

.button {
	background-color: rgba(0, 0, 0, 0);
	color: white;
	border-color: white;
}

.button:hover {
	background-color: white;
	color: rgb(111, 183, 182);
}

input[type=text] {
	text-align: center;
}

.imgcontainer label {
	padding: 0;
}

.avatar {
	border: 3px solid white;
}

.avatar:hover {
	border: 3px solid rgb(172, 49, 150);
}

small {
	font-size: 16px;
}