<form class="container editor" (ngSubmit)="onSave()" #profileForm="ngForm">
  <h1>פרופיל</h1>
  <div class="row">
    <div class="col-25">
      תמונה
    </div>
    <div class="col-75">
      <div class="imgcontainer">
        <label for="avatar">
          <i class="fa fa-plus-square-o" aria-hidden="true"></i>
          <img [src]="user.avatar" #picture class="avatar" *ngIf="user.avatar || avatar">
        </label>
        <input type="file" [(ngModel)]="avatar" name="avatar" id="avatar" (change)="onAvatarChanged($event)" hidden>
        <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteAvatar()" *ngIf="user.avatar || avatar"></i>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-25">
      כינוי
    </div>
    <div class="col-75">
      <input type="text" [(ngModel)]="user.name" name="nick" id="nick">
    </div>
  </div>
  
  <div class="row submit">
    <button class="button" type="submit" [disabled]="!profileForm.form.valid">שמור</button>
    <div class="button" (click)="this.location.back()">בטל</div>
  </div>
</form>