<div class="container">
	<h1>תורמים</h1>
	
	<div class="toolbar">
		<button class="button" routerLink="/donor-editor">הוסף תורם</button>
	</div>
	
	<table>
	<tr>
		<th (click)="sortDonors(compareFirstNames)">שם פרטי</th>
		<th (click)="sortDonors(compareLastNames)">שם משפחה</th> 
		<th (click)="sortDonors(comparePhoneNumbers)">מספר טלפון</th>
		<th (click)="sortDonors(compareAges)">גיל</th>
		<th (click)="sortDonors(compareAmounts)">סך התרומות</th>
	</tr>
	<tr *ngFor="let d of donorData"  routerLink="/donor/{{d.donor.id}}">
		<td>{{ d.donor.firstName }}</td>
		<td>{{ d.donor.lastName }}</td> 
		<td>{{ d.donor.telephone }}</td>
		<td>{{ d.donor.age }}</td>
		<td>₪{{ d.total }}</td>
	</tr>
	</table>
</div>