<div class="container viewer">
	<h1>תורמים</h1>
	
	<p *ngIf="hasUpdates()"><small>
		המידע עודכן במערכת.
		<a (click)="update()">לרענן?</a>
	</small></p>

	<div class="toolbar">
		<button class="button" routerLink="/donor-editor">הוסף תורם</button>
	</div>
	
	<table>
	<tr>
		<th (click)="sortDonors(compareOrgNames); sortField = 'orgName'">ארגון</th>
		<th (click)="sortDonors(compareLastNames); sortField = 'lastName'">שם משפחה</th> 
		<th (click)="sortDonors(compareFirstNames); sortField = 'firstName'">שם פרטי</th>
		<th (click)="sortDonors(compareAmounts); sortField = 'total'">סך התרומות</th>
	</tr>
	<tr *ngFor="let d of donorData"  routerLink="/donor/{{d.id}}">
		<td>{{ d.orgName ? d.orgName : "תורם פרטי" }}</td> 
		<td>{{ d.lastName }}</td> 
		<td>{{ d.firstName }}</td>
		<td><span class="number">₪{{ d.getTotal() }}</span></td>
	</tr>
	</table>
</div>