<form class="container editor" (ngSubmit)="onSubmit(taskEditForm)" #taskEditForm="ngForm">
    <div class="row">
      <div class="col-25">
        <label for="doneBy">המשימה בוצעה על ידי:</label>
      </div>
      <div class="col-75">
        <input type="text" [(ngModel)]="doneBy" name="doneBy" id="doneBy"/>
      </div>
    </div>

  	<div class="row">
      <div class="col-25">
        <label for="executionDate">תאריך ביצוע המשימה:</label>
      </div>
      <div class="col-75">
        <input type="date" [(ngModel)]="executionDate" name="executionDate" id="executionDate" required/>
      </div>
    </div>
    
    <div class="row submit">
      <button class="button" type="submit" [disabled]="!taskEditForm.form.valid">שמור</button>
      <div class="button" (click)="this.location.back()">בטל</div>
      <div class="button" (click)="delete()">מחק</div>
    </div>
  </form>