<div class="row">
	<div class="col-25">
		<label for="firstName">שם פרטי</label>
	</div>
	<div class="col-75">
		<input id="firstName" [(ngModel)]="temp.firstName"/>
	</div>
</div>
<div class="row">
	<div class="col-25">
		<label for="lastName">שם משפחה</label>
	</div>
	<div class="col-75">
		<input id="lastName" [(ngModel)]="temp.lastName"/>
	</div>
</div>
<div class="row">
	<div class="col-25">
		<label for="telephone">מספר טלפון</label>
	</div>
	<div class="col-75">
		<input id="telephone" [(ngModel)]="temp.telephone"/>
	</div>
</div>
<div class="row">
	<div class="col-25">
		<label for="age">גיל</label>
	</div>
	<div class="col-75">
		<input id="age" [(ngModel)]="temp.age"/>
	</div>
</div>
<div class="row submit">
	<button class="button" (click)="save()">שמור</button>
	<button class="button" (click)="this.location.back()">בטל</button>
</div>
