
<div class="container viewer" *ngIf="task">
  <h1>פרטי משימה:</h1>
  <button class="button" *ngIf="task" routerLink="/task-editor/{{ task.id }}">עריכה</button>

  <table class="contact">
      <tr>
        <td>תאור:</td>
        <td>{{ task.description }}</td> 
      </tr>
      <tr>
        <td>תאריך קביעת המשימה:</td>
        <td>{{ task.date }}</td>
      </tr>
      <tr>
          <td>בוצע על ידי:</td>
          <td>{{ task.doneBy }}</td>
      </tr>
      <tr>
          <td>בוצע בתאריך:</td>
          <td>{{task.executionDate| date:'short'}}</td>
      </tr>
      <tr  >
          <td >לביצוע עד:</td>
          <td>{{ task.expireDate| date:'short'}}</td>
      </tr>
      
      <tr >
          <td >מבצעת כרגע את המשימה:</td>
          <td>{{task.doJob }}</td>
      </tr>
      
      
    </table>
  
  
  </div>
  