
<div class="container viewer" *ngIf="task">
  <h1>פרטי משימה:</h1>
  <button class="button" routerLink="/task-editor/{{ task.id }}">עריכה</button>
  <table class="contact">
      <tr>
        <td>תאור:</td>
        <td>{{ task.description }}</td> 
      </tr>
      <tr>
        <td>תאריך קביעת המשימה:</td>
        <td>{{ task.date }}</td>
      </tr>
      <tr>
          <td>בוצע על ידי:</td>
          <td></td>
      </tr>
      <tr>
          <td>בוצע בתאריך:</td>
          <td></td>
      </tr>
    </table>
  
  
  </div>
  