<form class="container" (ngSubmit)="save()" #donorForm="ngForm">
	<h1 *ngIf="donor.id">עריכת תורם</h1>
	<h1 *ngIf="!donor.id">הוספת תורם</h1>
	<div class="row">
		<div class="col-25">
			<label for="orgName">שם ארגון</label>
		</div>
		<div class="col-75">
			<input type="text" [(ngModel)]="donor.orgName" name="orgName" id="orgName" placeholder="לתורם פרטי, השאר ריק"/>
		</div>
	</div>
	<div class="row">
		<div class="col-25">
			<label for="firstName">שם פרטי</label>
		</div>
		<div class="col-75">
			<input type="text" [(ngModel)]="donor.firstName" name="firstName" id="firstName" required/>
		</div>
	</div>
	<div class="row">
		<div class="col-25">
			<label for="lastName">שם משפחה</label>
		</div>
		<div class="col-75">
			<input type="text" [(ngModel)]="donor.lastName" name="lastName" id="lastName" required/>
		</div>
	</div>
	<div class="row">
		<div class="col-25">
			<label for="telephone">מספר טלפון</label>
		</div>
		<div class="col-75">
			<input type="tel" [(ngModel)]="donor.telephone" name="telephone" id="telephone" />
		</div>
	</div>
	<div class="row">
		<div class="col-25">
			<label for="email">אימייל</label>
		</div>
		<div class="col-75">
			<input type="email" [(ngModel)]="donor.email" name="email" id="email" />
		</div>
	</div>
	<div class="row">
		<div class="col-25">
			<label for="address">כתובת</label>
		</div>
		<div class="col-75">
			<input type="text" [(ngModel)]="donor.address" name="address" id="address" />
		</div>
	</div>
	<div class="row submit">
		<button class="button" type="submit" [disabled]="!donorForm.form.valid">שמור</button>
		<div class="button" (click)="this.location.back()">בטל</div>
		<div class="button" (click)="delete()" *ngIf="donor.id">מחק</div>
	</div>
</form>
